<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tathink.brooch.brooch">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true" >

        <!-- 인트로 -->
        <activity
            android:name="com.tathink.brooch.brooch.IntroActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 인트로2 -->
        <activity
            android:name=".IntroSubActivity"
            android:label="@string/app_name">
        </activity>

        <!--첫 화면-->
        <activity android:name=".MainActivity"></activity>

        <!--통계 메인화면-->
        <activity android:name=".StatisticsMain"></activity>

        <!--일별 통계-->
        <activity android:name=".StatisticsDay"></activity>
        <activity android:name=".RageStatisticsDay"></activity>

        <!--주별 통계-->
        <activity android:name=".StatisticsWeek"></activity>
        <activity android:name=".RageStatisticsWeek"></activity>

        <!--월별 통계-->
        <activity android:name=".StatisticsMonth"></activity>
        <activity android:name=".RageStatisticsMonth"></activity>

        <!--설정 액티비티-->
        <activity android:name=".SetCall"></activity>
        <activity android:name=".SetNormalVoice"></activity>
        <activity android:name=".SetRage"></activity>
        <activity android:name=".SetRageMeasure"></activity>
        <activity android:name=".SetRageVoice"></activity>
        <activity android:name=".SetPic"></activity>

    </application>

</manifest>