<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tathink.brooch.brooch">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true" >

        <!-- 인트로 -->
        <activity
            android:name="com.tathink.brooch.brooch.IntroActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 인트로2 -->
        <activity
            android:name=".IntroSubActivity"
            android:label="@string/app_name">
        </activity>

        <!--첫 화면-->
        <activity android:name=".MainActivity"></activity>

        <!--통계 메인화면-->
        <activity android:name=".StatisticsMain"></activity>

        <!--일별 통계-->
        <activity android:name=".StatisticsDay"></activity>
        <activity android:name=".RageStatisticsDay"></activity>

        <!--주별 통계-->
        <activity android:name=".StatisticsWeek"></activity>
        <activity android:name=".RageStatisticsWeek"></activity>

        <!--월별 통계-->
        <activity android:name=".StatisticsMonth"></activity>
        <activity android:name=".RageStatisticsMonth"></activity>

        <!--설정 액티비티-->
        <activity android:name=".SetCall"></activity>
        <activity android:name=".SetNormalVoice"></activity>
        <activity android:name=".SetRage"></activity>
        <activity android:name=".SetRageMeasure"></activity>
        <activity android:name=".SetRageVoice"></activity>
        <activity android:name=".SetPic"></activity>
        <activity android:name=".SetText"></activity>
        <activity android:name=".SetTextInput"
            android:windowSoftInputMode="stateAlwaysVisible"></activity>
        <activity android:name=".SetSMS"></activity>
        <activity android:name=".SetVibration"></activity>
        <activity android:name=".SetBell"></activity>

        <!-- Receiver and Service 등록-->
        <receiver android:name="kr.mint.testbluetoothspp.ConnectionReceiver" >
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name="kr.mint.testbluetoothspp.BluetoothSignalReceiver" >
            <intent-filter>
                <action android:name="kr.mint.bluetooth.receive" />
            </intent-filter>
        </receiver>

        <service android:name="kr.mint.testbluetoothspp.BTService" />

        <!--테스트 액티비티-->
        <activity android:name=".EventActivitySafe"></activity>
        <activity android:name=".EventActivityCaution"></activity>
        <activity android:name=".EventActivitySerious"></activity>
        <activity android:name=".EventActivityWarning"></activity>
        <activity android:name=".BTMainActivity"></activity>
        <activity android:name=".DeviceListActivity"></activity>
        <activity android:name=".DBTestActivity"></activity>

    </application>

</manifest>